target/
.git/
.gitignore
.idea/
.vscode/
*.iml
**/node_modules/
**/dist/
**/build/
**/.env
**/.env.*
**/application-local.properties
**/*.log
README.md
docker-compose*.yml
Dockerfile
.dockerignore
.mvn/wrapper/maven-wrapper.jar
docs/